
.piepaj{
    font-family: Monserrat,sans-serif;
}
.titupie{
    margin-left: 43%;
    border: box;
    
}

.card-footer{
    text-align: center;
    text-decoration: dotted;
}
.pani2{
    height: 35%;
    width: 100%;
    left: 0;
}